
@import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap");
*{
    box-sizing: border-box;
    margin:0px;
    padding:0px;
}
html{
    font-size: 62.5%;
}
body{
    background-color: #f1f5f8;
}
header{
    background-color: white;
    font-family: 'Kdam Thmor Pro',sans-serif;
    font-size:2rem;
    padding:2rem 2rem;
    box-shadow: 0rem 1rem 1rem rgba(0,0,0,0.3);
}
nav h1{
    color:darkcyan;
    text-transform: uppercase;
}
nav{
    display: flex;
    justify-content: space-between;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 2rem;
    height:3rem;
}
nav ul {
    list-style: none;
    float: right;
    margin-top:1rem;
}
nav ul li{
    float: right;
    padding: 0rem 3rem;
}
nav ul li:hover{
    color:darkcyan;
    cursor: pointer;
}

.main_content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15%;
}
.main_content h1{
    font-size:2.5rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin:2rem 0rem;
    border: 0.2rem solid rgba(0,0,0,1);
    border-radius: 0.8rem;
    color:white;
    padding: 2rem 3rem;
    background-color: black;
}
.main_content h1 span{
    color:darkcyan;
    font-size: 2.5rem;
}
.container{
    position: relative;
}
.center{
    position:absolute;
    top:50%;
    left:47%;
}

.btn_hero{
    padding: 1rem 3rem;
    font-family: 'Kdam Thmor Pro',sans-serif;
    color:black;
    background-color: white;
}
.center,.btn_hero:hover{
    color:white;
    background-color: black;
    transition: all 0.4s;
    cursor: pointer;
}
